@import url(general.css);
#body{
    background-color: #1f1f1f;
}

.shield {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
}

.icon {
    width: 20px;
    height: 20px;
}

.card {
    background: white;
    box-shadow: 0 0 3px black;
    max-width: 430px;
    margin: 15px auto;
}

.team {
    width: 90px;
    margin: 0 auto;
    text-align: center;
}

.score {
    font-size: 24px;
    font-weight: 700;
}
