body {
    text-align: center;
    padding-top: 15px;
    background: #c5c5c4;
}

.escudo {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
}

.icon {
    width: 15px;
    height: 20px;
}

.card {
    background: white;
    box-shadow: 0 0 3px black;
    max-width: 430px;
    margin: 0 auto;
}

.time {
    width: 90px;
    margin: 0 auto;
}

.score {
    font-size: 24px;
    font-weight: 700;
}