.container {
    height: 100vh;
}

.logo {
    width: 120px;
    height: 120px;
    transform: translateY(-55%);
}

.form {
    width: 80%;
    max-width: 300px;
}

.btn {
    width: 100%;
}

.login-text {
    font-size: 15px;
}

.register, .login {
    color: #007bff;
    font-weight: 500;
    cursor: pointer;
}

.forgot-password {
    color: gray;
}

.error {
    display: none;
    color: red;
}