@import url(general.css);

body {
    background-color: #1f1f1f;
}

.card {
    max-width: 600px;
}

.shield{
    width: 60px;
    height: 60px;
    display: block;
}

.plus, .minus {
    padding: 0;
    background: white;
    border-radius: 30px;
    width: 42px;
    height: 42px;
    box-shadow: 0 2px 5px -1px rgba(0,0,0,.2);
    border: 0;
    text-align: center;
    line-height: 1;
    padding: 2px 2px 0px 4px;
    cursor: pointer;
    user-select: none;
}

.toggle {
    display: flex;
    flex-direction: column;
    background-color: #e8e8e8;
    border-radius: 35px;
}

.versus {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 800;
    margin: 0 7px;
}

.plus {
    color: green;
    font-size: 35px;
}

.minus {
    display: flex;
    align-items: center;
}

.minus-symbol {
    margin: 0 auto;
    width: 16px;
    border-bottom: 3px solid #f26310;
}

.score {
    text-align: center;
    font-size: 30px;
    color: #707070;
}

.team-name {
    margin: 0;
    text-overflow: clip;
    overflow: hidden;
    max-width: 90px;
    white-space: nowrap;
    display: inline-block;
}

@media screen and (min-width: 645px){
    .shield{
        width: 80px;
        height: 80px;
    }

    .team-name {
        font-size: 18px;
        max-width: 120px;
    }
}