<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style/match.css">
    <script src="./scripts/vue.min.js"></script>
    <script src="./scripts/redirect.js"></script>
    <title data-t>Partidas</title>
</head>

<body>
    <div id="app" class="container">
        <div class="col px-0 fluid matches">
            <div v-for="date in dates">
                <div class="row fluid matches-date">{{formatDate(date)}}</div>
                <div v-for="match in matchesPerDate(date)" @click="redirectPage('occurrence.html', match.id)" class="row match match--card fluid">
                    <div class="col-3 col-sm-3 match-hour">
                        <span class="match-hour--text">
                            {{getDateHour(date)}}
                        </span>
                    </div>
                    <div class="col match-info pl-0">
                        <div class="match-maininfo">
                            <span class="match-team">{{match.namePrincipal}}</span>
                            <span class="score">x</span>
                            <span class="match-team">{{match.nameVisitor}}</span>
                        </div>
                        <div class="match-subinfo">
                            <div><span data-t>Modalidade</span><span>{{match.modality}}</span></div>
                            <div><span data-t>Local</span><span>{{match.place}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./scripts/matches.js"></script>
</body>

</html>